<!DOCTYPE html>
<html>
<head>
    <title>Sintaxis HTML</title>
    <header>EDITAR ESTADO DE USUARIO</header>
    <style>
        body {
            background: #96DDCC;
        }

        header {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 60px;
            width: 1000px;
            left: 150px;
            top: 100px;
            color: black;
            font-weight: bold;
        }
        #nombreUsuario {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 40px;
            left: 250px;
            top: 250px;
            color: black;
        }
        #nombreU {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 50px;
            height: 50px;
            left: 600px;
            top: 250px;
            color: black;
        }

    </style>
</head>
<body>
    <form>
        <label id="nombreUsuario">Nombre Usuario:</label>
        <input id="nombreU" type="text" value="" required=""/>
        <select>
            <option value="1"> </option>
        </select>
    </form>
</body>
</html>