<!DOCTYPE html>
<html>
<head>
    <title>Sintaxis HTML</title>
    <header><label id="header">TORNEO</label></header>
    @section scripts {
        <script type="text/javascript">
        function verificar() {
            var nombre = document.getElementById('nombre').value;
            var integrantes = $('#integrantes').find('option:selected').text();

            if (nombre == "" || integrantes == "") {
                alert("Debe ingresar un nombre para el torneo");
            }
            else {
                window.location = '@Url.Action("Tablero", "Tablero")';
            }
            }
        
        function Unirse() {
            var nombre = document.getElementById('nombreU').value;
            var integrantes = $('#integrantes').find('option:selected').text();

            if (nombre == "" || integrantes == "") {
                alert("Debe ingresar el nombre del torneo");
            }
            else {
                window.location = '@Url.Action("Tablero", "Tablero")';
            }
        }
        </script>
    }
    <style>
        body {
            background: #B4B6B3;
        }

        #header {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 70px;
            left: 600px;
            top: 50px;
            color: black;
            font-weight: bold;
        }

        #CrearTorneo {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 50px;
            color: black;
            top: 150px;
        }

        #nombreTorneo {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 30px;
            color: black;
            top: 240px;
        }

        #lintegrantes {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 30px;
            color: black;
            top: 310px;
        }

        #integrantes {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 20px;
            color: black;
            top: 120px;
            width: 180px;
        }

        #nombre {
            position: absolute;
            top: 250px;
            left: 550px;
            width: 180px;
            height: 30px;
        }

        #listado {
            position: absolute;
            top: 200px;
            left: 550px;
            font-size: 20px;
        }

        #Boton {
            position: absolute;
            left: 300px;
            top: 0px;
            border-radius: 50px;
            background: #D9D950;
            font-size: 30px;
            font-weight: bold;
        }

        #unirseTorneo {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 50px;
            color: black;
            top: 390px;
        }

        #nombreTorneoU {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 30px;
            color: black;
            top: 480px;
        }

        #nombreU {
            position: absolute;
            top: 485px;
            left: 550px;
            width: 180px;
            height: 30px;
        }

        #Boton2 {
            position: absolute;
            left: 900px;
            top: 470px;
            border-radius: 50px;
            background: #D9D950;
            font-size: 30px;
            font-weight: bold;
        }
    </style>
</head>
<body>

        <label for="nombre" id="CrearTorneo">CREAR UN TORNEO:</label>
        <label id="nombreTorneo">Nombre del Torneo Nuevo:</label>
        <input id="nombre" type="text" required="" />
        <label id="lintegrantes">Número de Integrantes:</label>
        <div id="listado" class="insertar">
            <select id="integrantes" name="integrantes" required="">
                <option value="1">4</option>
                <option value="2">8</option>
                <option value="3">16</option>
            </select>

            <input id="Boton" type="submit" value=" CREAR TORNEO " onclick="verificar()"/>
        </div>

        <label for="nombreU" id="unirseTorneo">UNIRSE UN TORNEO:</label>
        <label for="nombreU" id="nombreTorneoU">Nombre del Torneo:</label>
        <input id="nombreU" type="text" required=""/>
            <input id="Boton2" type="submit" value=" UNIRSE " onclick="Unirse()"/>

</body>


</html>