<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            background: #96DDCC;
        }

        #header {
            position: absolute;
            font-family: 'kaushan Script', cursive;
            font-size: 70px;
            left: 450px;
            top: 50px;
            color: black;
            font-weight: bold;
        }

        #botonCarga {
            font-family: 'kaushan Script', cursive;
            position: absolute;
            left: 600px;
            top: 250px;
            width: 300px;
            height: 40px;
            border-radius: 50px;
            font-size: 20px;
            background: #D9D950;
            font-weight: bold;
        }

        #botonIndividual {
            font-family: 'kaushan Script', cursive;
            position: absolute;
            left: 600px;
            top: 300px;
            width: 300px;
            height: 40px;
            border-radius: 50px;
            font-size: 20px;
            background: #D9D950;
            font-weight: bold;
        }

        #botonVS {
            font-family: 'kaushan Script', cursive;
            position: absolute;
            left: 600px;
            top: 350px;
            width: 300px;
            height: 40px;
            border-radius: 50px;
            font-size: 20px;
            background: #D9D950;
            font-weight: bold;
        }

        #botonTorneo {
            font-family: 'kaushan Script', cursive;
            position: absolute;
            left: 600px;
            top: 400px;
            width: 300px;
            height: 40px;
            border-radius: 50px;
            font-size: 20px;
            background: #D9D950;
            font-weight: bold;
        }

        #Salir {
            font-family: 'kaushan Script', cursive;
            position: absolute;
            left: 600px;
            top: 500px;
            width: 300px;
            height: 40px;
            border-radius: 50px;
            font-size: 20px;
            background: #D9D950;
            font-weight: bold;
        }
        #botonEditar {
            font-family: 'kaushan Script', cursive;
            position: absolute;
            left: 600px;
            top: 450px;
            width: 300px;
            height: 40px;
            border-radius: 50px;
            font-size: 20px;
            background: #D9D950;
            font-weight: bold;
        }
        #perfilUsuario {
            font-family: 'kaushan Script', cursive;
            position: absolute;
            left: 600px;
            top: 250px;
            width: 300px;
            height: 40px;
            border-radius: 50px;
            font-size: 20px;
            background: #D9D950;
            font-weight: bold;
        }
    </style>

</head>
<body>
    <label id="header">TIPO DE OTHELLO</label>
    <input id="perfilUsuario" type="submit" value=" Perfil de Usuario " onclick="location.href='@Url.Action("Index", "perfil")'">
    <br>
    <br>
    <input id="botonIndividual" type="submit" value=" Othello Clásico " onclick="location.href='@Url.Action("Index", "Juego")'">
    <br>
    <br>
    <input id="botonVS" type="submit" value="Othello Xtream" onclick="location.href='@Url.Action("Index", "JuegoX")'">
    <br>
    <br>
    <input id="botonTorneo" type="submit" value="Salir" onclick="location.href='@Url.Action("Index", "Home")'">
</body>
</html>